:root {
  --white: #FFFFFF;
}

html,
body {
  font-family: 'Bitter', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
}
