.container {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: space-between;

  padding: 0.75rem 1rem;
  width: 100vw;

  box-shadow: 0px 0px 12px 0px var(--dark-shadow);

  div {
    display: flex;
    align-items: center;

    padding: 0.25rem;
    border-radius: 0.25rem;

    box-shadow: 0px 0px 8px 0px var(--dark-shadow);

    svg {
      color: var(--gray-300);
    }
  }

  .searchBar {
    display: flex;
    width: 18rem;

    border-radius: 0.25rem;
    border: 2px solid var(--gray-700);
    background: transparent;

    input {
      flex: 1;
      padding: 0.25rem;

      border: none;
      border-right: 2px solid var(--gray-700);

      color: var(--gray-600);
      background: transparent;
      outline: none;

      &:focus {
        color: var(--gray-100);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.75rem;
      border: none;

      background: auto;
      transition: filter 0.1s;

      &:hover {
        filter: brightness(0.96);
      }

      svg {
        transform: translateY(-0.0625rem);
        color: var(--gray-300);
      }
    }
  }
}
